* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: Poppins, sans-serif;
    background-color: var(--bg-color);

}

html {
    scroll-behavior: smooth;
}

:root {
    --bg-color: #2B2738;
    --font-color: #FEFCFC;
    --input-bg-color: #3B364C;
    --cr-ac-bg-color: #6E54B5;
    --border-color: #757082;
}

.main {
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 133px;
}

.right {
    width: 40%;
    height: 90vh;
    border-radius: 14px;
}

.form-container {
    width: 100%;
    height: 100%;
    padding: 40px;

}

.form-container h1 {
    color: var(--font-color);

}

.form-container p {
    padding: 20px 0;
    color: rgb(202, 197, 197);
}

.form-container a {
    color: #6E54B5;
}

input {
    width: 100%;
    height: 40px;
    padding: 10px;
    margin: 10px 0;
    background-color: var(--input-bg-color);
    border: none;
    border-radius: 5px;

}

input[type=text]:focus {
    outline-color: var(--border-color);
}

input[type=email]:focus {
    outline-color: var(--border-color);
}

input[type=password]:focus {
    outline-color: var(--border-color);
}

.input-f-l {
    display: flex;
    flex-direction: row;
    width: 65%;
    gap: 10px;
    padding-top: 15px;
}

.input-e-p input {
    color: #FEFCFC;
}

.input-f-l input {
    color: #FEFCFC;
}

.input-e-p {
    display: flex;
    flex-direction: column;
    width: 65%;
}

#checkbox {
    width: 18px;
    height: 16px;
}

.terms-condition {
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
}

.terms-condition p {
    color: var(--font-color);

}

.terms-condition a {
    color: #6E54B5;

}

.create-ac {
    width: 100%;
}

.create-ac button {
    width: 100%;
    height: 40px;
    background-color: var(--cr-ac-bg-color);
    border: none;
    border-radius: 5px;
    color: var(--font-color);
    font-weight: 600;

}

.create-ac button {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #090909;
    padding: 0.7em 1.7em;
    cursor: pointer;
    font-size: 17px;
    border-radius: 0.5em;
    background: var(--font-color);
    border: 1px solid #e8e8e8;
}

.create-ac button:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.create-ac button:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.create-ac button:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #009087;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.create-ac button:hover {
    color: #ffffff;
    border: 1px solid #6E54B5;
}

.create-ac button:hover:before {
    top: -35%;
    background-color: #6E54B5;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.create-ac button:hover:after {
    top: -45%;
    background-color: #6E54B5;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.or-reg-with {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

hr {
    width: 90px;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgba(202, 197, 197, 0.434);
    margin: 1em 0;
    padding: 0;
}

.or-reg-with span {
    color: rgba(202, 197, 197, 0.434);
}

.GA {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.GA button {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 17px;
    background-color: var(--bg-color);
    border: none;
    border: 1px solid lightgray;
    border-radius: 5px;
    color: var(--font-color);

}

.GA button img {
    width: 20px;
    height: 18px;

}