.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #0d0d0d;
    border-bottom: 1px solid #e0e0e08f;
    margin-bottom: 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 30px;
    margin-right: 10px;
}


.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.nav-links a:hover {
    color: #6E54B5;
}

.build-resume {
    padding: 5px 15px;


}

.build-resume-button {
    padding: 8px 15px;
    color: #6E54B5;
    border: 2px solid #6e54b5d7;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
}

.build-resume-button:hover {
    background-color: #6E54B5;
    color: #fff;
}