* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #0d0d0d;
}

.container {
    display: flex;
    background-color: #262626;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    max-width: 60vw;
    max-height: 100vh;
    width: 100%;

    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.left-side {
    padding: 40px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.left-side h1 {
    margin-bottom: 20px;
    color: #e2dddd;

}

.left-side p {
    margin-bottom: 30px;
    color: #e2dddd;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}

.left-side button {
    padding: 10px 20px;
    border: none;


    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}


.right-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-side img {
    max-width: 100%;
    height: auto;
}


.get_btn button {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #ffffff;
    padding: 0.7em 1.7em;
    cursor: pointer;
    font-size: 17px;
    border-radius: 0.5em;
    background: var(--font-color);
    border: 1px solid #e8e8e8;
}

.get_btn button:active {
    color: #e8e8e8;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.get_btn button:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.get_btn button:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #009087;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.get_btn button:hover {
    color: #ffffff;
    border: 1px solid #6E54B5;
}

.get_btn button:hover:before {
    top: -35%;
    background-color: #6E54B5;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.get_btn button:hover:after {
    top: -45%;
    background-color: #6E54B5;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}